body {
  font-family: arial, sans-serif;
  
}


h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  background-image: url(http://images.pexels.com/photos/2909077/pexels-photo-2909077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  max-width: 800px;
  margin: 50px auto;
  border-radius: 10px;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 100px;
  width: 100px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.Wether-small {
margin-top: 20px;

}